@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Nanum+Gothic&display=swap');
.nanum-gothic-regular {
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.black-han-sans-regular {
  font-family: "Black Han Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html {
    background-color: #333;
    color: #eee;
    transition: opacity 400ms;
}

body {
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
}

input.stats {
    text-align: right;
    width: 6em;
}

div {
    box-sizing: border-box;
}
.container {
    display: grid;
    margin: auto;
    width: fit-content;
}
.th {
    /* grid-column: -2; */
    grid-row: 1;
    width: 100px;
}
.input {
    grid-row: 2;
}
.convert {
    grid-row: 3;
    display: grid;

    span {
        font-size: 0.8em;;
        text-align: right;
        display: inline-block;
        padding: 3px;
    }
}
